body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(127, 125, 129);
}

h1, h4 {
    text-align: center;
}

form {
    width: 500px;
    margin:  0 auto;
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
}